<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>App</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.load.js"
            data-headjs-load="js/bootstrapper.js">
    </script>
</head>
<body>
    <header>
        <nav>
            <ol>
                <li><a href="#home">Home</a></li>
                <li><a href="#createproduct">Create product</a></li>
            </ol>
        </nav>
    </header>

    <section id="content">
        {+content /}
    </section>

    <footer>
        &copy; 2014 Masters del Universo S.A.
    </footer>
</body>
</html>